h1 {
	text-align: center;
	color: #110808;
}

.ListElement .title {
	font-weight: bold;
	color: #110808;
}

.ListElement img {
	width: 30px;
	height: 30px;
}

.ListElement .desc {
	color: #332424;
}

.PleaseWait {
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}

#details h1 {
	color: #110808;
	padding-top: 20px;
}

#details div {
	color: #332424;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#details .data {
	text-align: center;
	width: 50%;
}

#details .title {
	font-weight: bold;
	text-align: center;
	width: 50%;
}

#details table {
	width: 100%;
	font-size: 20px;
	line-height: 30px;
}

.data img {
	width: 20px;
	height: 20px;
}